@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Be Vietnam Pro", sans-serif;
  box-sizing: border-box;
}

#wrapper {
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

/* navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
}

.nav-logo .logo {
  width: 80px;
}

.navbar .nav-logo {
  display: flex;
  align-items: center;
}

.nav-logo .logotext {
  margin-left: -1.2rem;
  font-size: 28px;
}

.navbar .nav-items {
  display: flex;
  gap: 2rem;
  padding: 0 4em;
}

.nav-items p {
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: #000;
}

.nav-items p:hover {
  transition: 0.8s;
  font-weight: bold;
}

/* hero-section */
.hero-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin: 4rem auto;
  padding: 0 1rem;
  padding-bottom: 8rem;
}

/* heroleft */
.hero-section .heroleft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.heroleft .heading {
  font-size: 35px;
  color: #343d68;
  font-weight: 500;
}

.heroleft .subheading {
  font-size: 45px;
  line-height: 45px;
}

.heroleft .role {
  color: #4e45d5;
  font-weight: 800;
}

.heroleft .heroleft-description {
  margin-top: 1rem;
  width: 70%;
  font-size: 13px;
  font-weight: 500;
}

button {
  color: white;
  padding: 10px 25px;
  font-size: 20px;
  cursor: pointer;
  width: fit-content;
  background-color: #e84949;
  border: none;
  box-shadow: 5px 5px 7px 0 #0000003f;
  position: relative;
  z-index: 1;
}

button::before {
  content: "";
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: scaleX(0);
  z-index: -1;
  transition: all 0.8s;
  transform-origin: left;
}

button:hover::before {
  transform: scaleX(1);
}

button:hover {
  color: black;
}

/* heroright */
.hero-section .heroright {
  position: relative;
}

.heroright .absolute {
  position: absolute;
}

.heroright .icons {
  z-index: 8;
}

.heroright .user-image img {
  z-index: -8;
}

.heroright .user-image {
  padding: 2.5rem;
  filter: grayscale(1);
  transition: all 1s;
  animation: scaleImg 5s linear infinite;
}

@keyframes scaleImg {
  0% {
    filter: grayscale(0);
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
    filter: grayscale(1);
    box-shadow: 3px 3px 10px black;
  }
  100% {
    transform: scale(1);
    filter: grayscale(0);
  }
}

.heroright .dot-icon {
  bottom: -1rem;
  right: 0;
  animation-name: dotanimation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes dotanimation {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0px);
  }
}

.heroright .cube-icon {
  top: -0.8em;
  right: 1em;
  animation-name: cuberotate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes cuberotate {
  0% {
    transform: rotateY(100deg) translateY(0px);
  }
  50% {
    transform: rotateY(180deg) translateY(-12px);
  }
  100% {
    transform: rotateY(369deg) translateY(0px);
  }
}

.heroright .circle-icon {
  bottom: 0;
  left: 0;
  animation-name: circlediagonal;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes circlediagonal {
  50% {
    left: 5%;
    bottom: 10%;
  }
}

.heroright .zigzag-icon {
  top: 1.5em;
  left: -0.3rem;
  animation-name: zigzagAnimation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes zigzagAnimation {
  50% {
    top: 2%;
    left: 5%;
  }
}

.heroright .plus-icon {
  top: -0.8rem;
  left: 50%;
  animation-name: diagonalplus;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes diagonalplus {
  50% {
    top: 3%;
    left: 48%;
  }
}

.hero-section .fadedtext {
  user-select: none;
  font-size: 7rem;
  color: rgb(231, 231, 231);
  position: absolute;
  bottom: -16%;
  left: -5%;
  font-weight: bold;
  transition: all 3s;
}

/* project-section */
.project-section {
  background-color: rgb(231, 231, 231);
  margin-top: 4rem;
}

.project-heading {
  font-size: 5rem;
  text-align: center;
  color: #e84949;
}

.card-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 120px;
}

.card {
  width: 85%;
  height: 550px;
  position: relative;
  box-shadow: 0px 0px 40px #1f1f1f;
}

#card1 {
  background-image: url(assets/Project1.png);
  background-size: cover;
}
#card2 {
  margin-left: 100px;
  background-image: url(assets/Project2.png);
  background-size: cover;
}
#card3 {
  background-image: url(assets/Project3.png);
  background-size: cover;
}
#card4 {
  margin-left: 100px;
  background-image: url(assets/Project4.png);
  background-size: cover;
}

.card::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #1f1f1f9a;
  transform: scaleX(1);
  z-index: 0;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(45deg, #343d68, #343d68be, #343d687c);
  transform-origin: left;
  transform: scaleX(0);
  transition: all ease 0.8s;
  z-index: 1;
}

.card:hover::before {
  transform: scaleX(1);
}

.cardnumber-right {
  font-size: 200px;
  font-weight: 600;
  color: white;
  position: absolute;
  top: -49px;
  right: -36px;
  opacity: 0;
  z-index: 1;
}
.card:hover .cardnumber-right {
  opacity: 1;
}

.cardnumber-left {
  font-size: 200px;
  font-weight: 600;
  color: white;
  position: absolute;
  top: -48px;
  left: -27px;
  opacity: 0;
  transition: all 0.5s;
  z-index: 1;
}
.card:hover .cardnumber-left {
  opacity: 1;
}

.cardcontent {
  position: absolute;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 2em;
  bottom: 20%;
  gap: 1em;
  z-index: 1;
  transition: all 0.6s;
}

.cardcontent-left {
  left: 10%;
}

.cardcontent-right {
  right: 10%;
}

.skillscontainer {
  display: flex;
  width: 60%;
  gap: 10px;
  flex-wrap: wrap;
}

.skillscontainer .skills {
  width: 40px;
}

.card-heading {
  font-size: 50px;
  font-weight: bold;
  line-height: 3em;
}

.card-description {
  width: 70%;
  font-size: 16px;
  font-style: italic;
}

.btngroup {
  display: flex;
  gap: 10px;
  align-items: center;
}

.btngroup a {
  color: white;
  font-size: 35px;
  transition: all 0.5s;
}

.btngroup a:hover {
  color: #e84949;
}

.card-container:hover .cardcontent {
  transform: scale(1.1);
}

/* skill-section */
.skills-section {
  position: relative;
  display: flex;
  padding: 5rem;
  margin: 10rem auto;
  gap: 30px;
}

.mytechstack {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.skillscontainer {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  z-index: 1;
}

.skillfadedtext {
  color: rgb(231, 231, 231);
  font-size: 14rem;
  bottom: -32%;
  right: -8%;
  position: absolute;
  user-select: none;
}

.blobstyle {
  position: absolute;
  top: 8%;
  left: 13%;
  z-index: -1;
  animation: blobAnimate 3s linear infinite;
}

@keyframes blobAnimate {
  50% {
    left: 20%;
    top: 13%;
  }
}

.skill {
  width: 65px;
  transition: 0.5s;
  cursor: pointer;
}

.skill:hover {
  transform: scale(1.2);
}

.skillsheading {
  font-weight: 500;
  line-height: 50px;
  color: #e84949;
  font-style: bold;
  font-size: 50px;
}

.caps {
  font-size: 85px;
}

.skills-subheading {
  margin-top: 1rem;
  width: 85%;
  text-align: justify;
}

.skills-subheading p {
  margin: 15px 0;
}

/* contactme-section */
.contactme-section {
  width: 100%;
  background: rgb(231, 231, 231);
}

.contactheading {
  font-size: 5em;
  color: #e84949;
  padding-top: 2rem;
  margin-left: 3px;
}

.contactsubheading {
  font-size: 3rem;
  margin-left: 3px;
  color: #343d68aa;
  text-transform: capitalize;
}

form {
  display: flex;
  gap: 20px;
  width: 80%;
  margin: 0 13rem;
  flex-direction: column;
}

form input {
  height: 42px;
  padding: 0 2rem;
  font-size: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px #1f1f1f;
  font-weight: 500;
  border: none;
}

form textarea {
  padding-top: 1rem;
  font-size: 20px;
  box-shadow: 2px 2px 10px #1f1f1f;
}

form button {
  font-size: 1.4rem;
  margin: 1rem 0;
}

form button:hover {
  scale: 0.9;
}

button i {
  padding: 0 1rem;
  font-size: 1.5rem;
}

/* footer-section */
.footer-section {
  position: relative;
  padding: 5rem;
  background-color: #343d68;
}

.footer-container {
  gap: 1rem;
  padding: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  text-transform: capitalize;
  font-weight: bold;
  color: #fff;
}

.links a:hover {
  color: #e84949;
}

.links a {
  color: white;
  transition: all 0.8s;
}

.footersociallinks {
  display: flex;
  gap: 1rem;
  font-size: 35px;
  transition: 1s;
  color: white;
  transition: all 0.8s;
}

.footersociallinks i:hover {
  transform: scale(1.1);
  color: #e84949;
}

.footbottomtext {
  user-select: none;
  font-size: 5em;
  color: #535c87;
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: bold;
}
